body {
    font-family: 'Roboto Serif', serif;
    font-weight: 500;
  }
.container {
     display: flex; 
     flex-direction: column; 
     min-height: 100vh; 
    } 
.heading {
    color: #003366; 
    }
nav { 
    position: relative;
    background-color: #9de4d4;
    padding: 1rem; 
} 
.navLinkItem { 
    margin: 0 1rem; 
} 
.navName {
    color: black;
    font-style: italic;
}
.navLinkText { 
    color: black; 
    text-decoration: none; 
    font-size: 1rem; 
    display: block; 
    padding: 1rem; 
    text-align: center; 
} 
.navLinkText:hover { 
    text-decoration: underline; 
} 
.hamburger { 
    flex-direction: column; 
    cursor: pointer; 
    position: absolute; 
    top: 10px; 
    right: 10px; 
} 
.hamburgerLine { 
    width: 2rem; 
    height: 0.2rem; 
    background: rgb(11, 1, 1); 
    margin: 0.3rem 0; 
} 
.navMenu { 
    display: none; 
    position: absolute; 
    right: 0;
    top: 60px; 
    width: 10%; 
    background-color: #9de4d4; 
    flex-direction: column; 
    list-style: none; 
    padding: 0; 
    margin: 0; 
} 
.navMenuOpen { 
    display: flex; /* Shown when hamburger menu is open */ 
} 

@media (max-width: 768px) { 
    .navLinks {
         display: none; 
        } 
    .navMenuOpen { 
        display: flex; 
    } 
    .hamburger { 
        display: flex; 
    } 
}
.mainContent {
    flex-grow: 1;
  }
.footer {
    background-color: #9de4d4;
    color: black;
    text-align: left;
    padding: 1rem 0;
    position: relative;
    bottom: 0;
    width: 100%;
  }
  .footerContent {
    padding-left: 2%;
  }
  
  .footerContent a {
    color: #157d68; 
    text-decoration: none;
  }
  
  .footerContent a:hover {
    text-decoration: underline;
  }